<div class="pull-right">
  <%= link_to("Add a job", new_group_post_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<table class="table table-boldered">
  <% @groups.each do |group| %>
  <tr>
    <td>
      <%= link_to(group.title, group_post_path(group)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_group_post_path(job)) %>
      <%= link_to("Destroy", group_post_path(job), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= group.created_at %>
    </td>
  </tr>
  <% end %>
</table>
